

body {
    background-color: rgb(196, 236, 214);
}

img {
    border: 0px solid black;
    border-radius: 18px;
}


/* will target only the images on animals page, and not details page (unless class is changed to col-sm) */
.col-sm img:hover {
    outline: 2px solid rgb(37, 64, 66);
    border-radius: 18px;
}

button {
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

