

/* color palettes from colorhunt.co */

/* base styling */


body {
    background-color:#F4F2DE;
    color: #0F1035;
}

/* main text background */
.text-center{
    background-color: #A1CCD1;
    width: 75%;
}



footer {
    color: #0F1035;
    font-size: 18px;
}


/* errors that result from wt-forms/flask-wtf class validators */
.errors {
    color: black;
    position: relative;
    left: 20%;
    background-color: #E9B384;
    width: 60%
    
}

#shelter-name,#lookup-shelter-button,#shelterid,#name,#type,#breed,#groupstatus,#euthdate,#weight,#availabledate,#joindate,#gender,#age,#image,#url,#bio,#auth{
    border: 0px solid black;
    border-radius: 5px;
}

#name,#streetaddress, #city, #state, #zipcode, #website, #auth{
    border: 0px solid black;
    border-radius: 5px;
}




/* navigation bar styling  */

.nav{
    text-align: center;
    width: 100%;

}

/* useful resource for margins https://stackoverflow.com/questions/55192856/how-do-i-put-padding-outside-an-image-border */
.navbar-nav img {
    margin-left: 7px;
    width: 10%;
}

.navbar-brand {
    padding-top: 20px;;
    padding-left: 10px;
    font-size: 45px;
}

.nav-link{
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-expand-lg{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* animal details page styling */

.nav-link{
    color: black

}

.nav-tabs{
   
    margin-left: auto;
    margin-right: auto;
    
}

.nav-item{
    margin-left: auto;
    margin-right: auto;
    

}

.tab-pane{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}



/* homepage styling */
.homepage{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* animal list styling */

.animal-header h5{
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    border: 0px solid black;
    border-radius: 18px;
}

/* outlines image border when user mouses over */
/* will target only the images on animals page, and not details page (unless class is changed to col-sm) */

.col-sm img:hover {
    outline: 3px solid black;
    border-radius: 18px;
}

.col-sm {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.dropdown h6{
    font-size: 22px;
}

.dropdown {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.dropdown{
    font-size: 18px;
    border: 0px solid black;
    border-radius: 18px;
}

.dropdown select{
    text-align:center;
    font-size: 18px;
    border: 0px solid black;
    border-radius: 5px;
    
}

button {
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* faq styling  */

.text-center {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.text-center h6 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;

}