{% extends 'base.html' %}

{% block main %}

<div class="row">
    <div class="col">
        <form action="/add" method="POST">
            <br>
            
            {% if auth %}
            <div class="alert alert-primary" role="alert">
            You need to provide a correct auth key!   
            </div>
            {% endif %}

            <label for="authentication">Authentication: </label>
            <input type="password" name="auth-code" id="auth-code"> <br>
            <br>

            <!-- Note that there is no field for api id -->

            <h6> Animal Info </h2>

             <!-- search for a shelter, button will initate the ajax request -->
             <label for="shelter">Shelter Name: </label>
             <input type="text" name="sheltername" id="shelter-name"> 
             
 
             <button type="button" id="lookup-shelter-button">Lookup Shelter</button> <br> <br>
            
             <label for="shelter-id">Shelter: </label>
             <select name="shelter" id="shelterid">
             </select> <br> <br>
 

            <label for="animal-name">Animal name: </label>
            <input type="text" name="name" id="animal-name"> <br>
            <br>

            <label for="animal-img">Image Src: </label>
            <input type="text" name="image" id="animal-image"> <br>
            <br>

            <label for="animal-type">Type: </label>
            <input type="text" name="type" id="ype-select"> <br>
        
            <br>

            <label for="animal-breed">Breed: </label>
            <input type="text" name="breed" id="animal-breed"> <br>
            <br>

            <label for="animal-breed">Age (yrs): </label>
            <input type="text" name="age" id="animal-age"> <br>
            <br>

            <!-- circle back to this, if using as a future filter -->
            
            <label for="animal gender">Gender: </label>
            <select name="gender" id="gender-select">
                <option value="female">female</option>
                <option value="male">male</option> <br>
            </select>
            <br> <br>

            <label for="group status">Group Status: </label>
            <select name="groupstatus" id="groupstatus">
                <option value="euthanasiadates">euth. date</option>
                <option value="fosterrequests">foster request</option> <br>
                <option value="other">other</option> <br>
            </select>
            <br> <br>

            <label for="animal-code">Adopt Code: </label>
            <input type="text" name="code" id="animal-code"> <br>
            <br>
           
            <label for="animal-url">Url: </label>
            <input type="text" name="url" id="animal-url"> <br>
            <br>

            <label for="join-date">Join Date:(mm/dd/yyyy): </label>
            <input type="text" name="joindate" id="join-date"> <br>
            <br>

            <label for="available-date">Available Date:(mm/dd/yyyy): </label>
            <input type="text" name="availabledate" id="availabledate"> <br>
            <br>

            <label for="animal-weight">Weight(lbs): </label>
            <input type="text" name="weight" id="animal-weight"> <br>
            <br>

            <label for="euthanasia-date">Sched. Euth. Date:(mm/dd/yyyy):</label>
            <input type="text" name="euthdate" id="euth-date"> <br>
            <br>

            <label for="animal-bio">Bio: </label>
            <input type="text" name="bio" id="animal-bio"> <br>
            <br>



            <button type="submit">Submit</button>
        </form>
    </div>
</div>    
<script src="/static/entrytext.js"> </script>
{% endblock main %}