{% extends 'base.html' %}

{% block main %}

<div class="row animal-info">
    <div class="col">
    
        * indicates a required field <br> <br>
        <h6> Animal Info </h6>
    </div>
</div>    

<form method="POST" action="/add">
    <!-- Adding this CSRF token hidden field (affiliated with Flask-WTF) module, if authentication is added later -->
    {{ form.csrf_token }}
    

   <!-- search for a shelter, button will initate the ajax request -->
   <label for="shelter">* Shelter Name: </label>
   <input type="text" name="sheltername" id="shelter-name"> 
   

   <button type="button" id="lookup-shelter-button">Lookup Shelter</button> <br> <br>
  
   <label for="shelter-id">* Shelter: </label>
   <select name="shelter" id="shelterid">
   </select> <br> <br>

    <!-- name -->
    {% if form.name.errors %}
        <ul class = "errors">
        {% for error in form.name.errors %}
            {{error}}
        {% endfor %}
        </ul>
    {% endif %}
    {{ form.name.label }} {{ form.name(size=20) }} <br> <br>

    <!-- type -->
    {% if form.type.errors %}
        <ul class = "errors">
        {% for error in form.type.errors %}
            {{error}}
        {% endfor %}
        </ul>
    {% endif %}
    {{ form.type.label }} {{ form.type(size=20) }} <br> <br>

    <!-- breed -->
    {% if form.breed.errors %}
    <ul class = "errors">
    {% for error in form.breed.errors %}
        {{error}}
    {% endfor %}
    </ul>
    {% endif %}
    {{ form.breed.label }} {{ form.breed(size=20) }} <br> <br>

    <!-- group status -->
    {% if form.groupstatus.errors %}
    <ul class = "errors">
    {% for error in form.groupstatus.errors %}
        {{error}}
    {% endfor %}
    </ul>
    {% endif %}
    {{ form.groupstatus.label }} {{ form.groupstatus(size=1) }} <br> <br>

     <!-- euth date -->
     {% if form.euthdate.errors %}
     <ul class = "errors">
     {% for error in form.euthdate.errors %}
         {{error}}
     {% endfor %}
     </ul>
     {% endif %}
     {{ form.euthdate.label }} {{ form.euthdate(size=20) }} <br> <br>

    <!-- weight -->
    {% if form.weight.errors %}
    <ul class = "errors">
    {% for error in form.weight.errors %}
        {{error}}
    {% endfor %}
    </ul>
   {% endif %}
   {{ form.weight.label }} {{ form.weight(size=20) }} <br> <br>


    <!-- avail. date -->
    {% if form.availabledate.errors %}
    <ul class = "errors">
    {% for error in form.availabledate.errors %}
        {{error}}
    {% endfor %}
    </ul>
    {% endif %}
    {{ form.availabledate.label }} {{ form.availabledate(size=20) }} <br> <br>

    <!-- join date -->
    {% if form.joindate.errors %}
    <ul class = "errors">
    {% for error in form.joindate.errors %}
        {{error}}
    {% endfor %}
    </ul>
    {% endif %}
    {{ form.joindate.label }} {{ form.joindate(size=20) }} <br> <br>


    <!-- gender -->
    {% if form.gender.errors %}
    <ul class = "errors">
    {% for error in form.gender.errors %}
        {{error}}
    {% endfor %}
    </ul>
   {% endif %}
   {{ form.gender.label }} {{ form.gender(size=1) }} <br> <br>

    <!-- age -->
    {% if form.age.errors %}
    <ul class = "errors">
    {% for error in form.age.errors %}
        {{error}}
    {% endfor %}
    </ul>
    {% endif %}
    {{ form.age.label }} {{ form.age(size=20) }} <br> <br>

    <!-- image  -->
    {% if form.image.errors %}
    <ul class = "errors">
    {% for error in form.image.errors %}
        {{error}}
    {% endfor %}
    </ul>
    {% endif %}
    {{ form.image.label }} {{ form.image(size=20) }} <br> <br> 

    <!-- url -->
    {% if form.url.errors %}
        <ul class = "errors">
        {% for error in form.url.errors %}
            {{error}}
        {% endfor %}
        </ul>
    {% endif %}
    {{ form.url.label }} {{ form.url(size=20) }} <br> <br> 

    <!-- type -->
    {% if form.bio.errors %}
    <ul class = "errors">
    {% for error in form.bio.errors %}
        {{error}}
    {% endfor %}
    </ul>
    {% endif %}
    {{ form.bio.label }} {{ form.bio(size=20) }} <br> <br>


     <!-- authentication -->
     {% if form.auth.errors %}
     <ul class = "errors">
     {% for error in form.auth.errors %}
         {{error}}
     {% endfor %}
     </ul>
     {% endif %}
     {{ form.auth.label }} {{ form.auth(size=20) }} <br> <br> 
   
    <input type="submit" value="Submit">
</form>



<script src="/static/entrytext.js"> </script>
{% endblock main %}