{% extends 'base.html' %}


{% block main %}
    <br>
    
        <h4>Animals at Risk</h4>
        <br>
            <div class="row">
                <div class="col">
                    <h6>Filters </h6>
                        <form action="/animals">
                            <label for="type-selection">Type: </label>

                            <select name="type" id="type-select">

                                <option value="all"{% if state=="all" %} selected="selected" {% endif %}>all</option>
                                <option value="Dog" {% if type=="Dog" %} selected="selected"{% endif %}>Dog </option>
                                <option value="Cat"{% if type=="Cat" %} selected="selected"{% endif %}>Cat </option>
                                <option value="Horse"{% if type=="Horse" %} selected="selected"{% endif %}>Horse </option>

                                
                            </select>

                            <label for="state-selection">State: </label>

                            <select name="state" id="state-select">
                                
                                
                                <!-- update if specifying other states -->

                                <option value="all"{% if state=="all" %} selected="selected" {% endif %}>all</option>
                                <option value="CA"{% if state=="CA" %} selected="selected" {% endif %}>CA</option>
                                <option value="other"{% if state=="other" %} selected="selected" {% endif %}>other</option>
                        
                    
                                
                            </select>

                            <label for="sort-selection">Sort by: </label>
                            <select name="sort-type" id="sort-type">
                                <option value="scheduled_euthanasia_date">Scheduled Euthanasia Date </option>

                            </select>

                            
                            <br>
                            <br>
                        
                            <button type="submit">Apply the above filters/sort type </button>
                        </form>
                        <br>

                        <form action="/animals">
                            <button type="submit">View all</button> 
                        </form>
                </div>
            </div>
       <br>
        {% for animal in animals: %}
            {% if ((loop.index)-1) %3 == 0 %}
                <div class="row">
        
            {% endif %}
            <div class="col">
                <a href='/animals/{{animal.id}}'>
                    <img src="{{animal.image}}" alt="animal-image" width="180"/> <br> </a>
                {{animal.name}} <br>
                {{animal.type}} <br>
                {{animal.breed}} <br>
                {% if animal.age!=None %}
                    {{animal.age}} <br>
                {% endif %}
                {{animal.shelter.city}}<br>
                {{animal.shelter.state}}<br>
                {% if animal.weight!=None %}
                    scheduled euthanasia date: {{animal.scheduled_euthanasia_date}} <br>
                {% endif %}
                <a href='/animals/{{animal.id}}'> Details for {{animal.name}}</a> <br><br>
            </div>
            <!-- allow for three animals per row -->
            {% if loop.index %3 == 0 %}
                </div>
            {% endif %}
        {% endfor %}
   
    <br>    

    <div class="row">
        <div class="col">

            Return to homepage: <br>
            <a href="/"> Home </a> <br>
        </div>
    </div>


{% endblock main%}

