{% extends 'base.html' %}

{% block main %}
    
        <h4>Animal Details </h4>
        <div class="row">
            <div class="col">

                <img src="{{animal.image}}" alt="animal-image" width="250"/> <br>   

                Name: {{animal.name}} <br>

                Animal Type: {{animal.type}} <br>

                Breed: {{animal.breed}} <br>

                {% if animal.scheduled_euthanasia_date!=None %}
                    Scheduled Euthanasia Date: {{animal.scheduled_euthanasia_date}} <br>
                {% endif %}

                {% if animal.join_date!=None %}
                    Join Date: {{animal.join_date}} <br>
                {% endif %}

                {% if animal.age!=None %}
                    Age: {{animal.age}} <br>
                    
                {% endif %}
                

                {% if animal.weight!=None %}
                    Weight: {{animal.weight}} pounds <br>
                {% endif %}

                Gender: {{animal.gender}} <br>

                Adoption Code: {{animal.adopt_code}} <br>


                {% if animal.bio!=None %}
                    Bio: {{animal.bio}} <br>
                {% endif %}

                <!-- make sure to use a full http link -->

                Url: <a href="{{animal.url}}">adoption link </a> <br>

                Shelter Name: {{animal.shelter.name}} <br>

                Shelter City: {{animal.shelter.city}}<br>

                Shelter State: {{animal.shelter.state}}<br>

                Shelter Website: <a href="{{animal.shelter.website}}">{{animal.shelter.name}}</a> <br>

                <br>     
                Return to full list of animals: <br>
                <a href="/animals"> return </a> <br>
            </div>

            
        </div>
    
{% endblock main %}