{% extends 'base.html' %} {% block heading %}
<meta property="og:title" content="{{animal.name}} on Paws For Alarm" />

<meta
  property="og:url"
  content="https://www.pawsforalarm.org/animals/{{animal.id}}"
/>

<meta property="og:image" content="{{animal.image}}" />
{% endblock heading %} {% block main %}
<br />

<div class="row">
  <div class="col">
    {% if animal.image!=None %}
    <div class="animal-detail-img text-center">
      <img
        src="{{animal.image}}"
        alt="animal-image"
        width="400"
        height="400"
        style="object-fit: contain"
      />
    </div>
    <br />
    {% endif %}

    <!-- from bootstrap docs for tabs  -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <!-- buttons -->

      <!-- summary -->
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="summary-tab"
          data-bs-toggle="tab"
          data-bs-target="#summary"
          type="button"
          role="tab"
          aria-controls="summary"
          aria-selected="true"
        >
          Summary
        </button>
      </li>

      <!-- bio -->
      {% if animal.bio!=None %}
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="bio-tab"
          data-bs-toggle="tab"
          data-bs-target="#bio"
          type="button"
          role="tab"
          aria-controls="bio"
          aria-selected="false"
        >
          Bio
        </button>
      </li>
      {% endif %}

      <!-- shelter info -->
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="shelterinfo-tab"
          data-bs-toggle="tab"
          data-bs-target="#shelterinfo"
          type="button"
          role="tab"
          aria-controls="shelterinfo"
          aria-selected="false"
        >
          Shelter Info
        </button>
      </li>
    </ul>

    <!-- panes of information -->

    <!-- summary -->
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="summary"
        role="tabpanel"
        aria-labelledby="summary-tab"
      >
        <br />
        Name: {{animal.name}} <br />

        Animal Type: {{animal.type}} <br />

        Breed: {{animal.breed}} <br />

        <!-- conditional display for nullable info -->
        {% if animal.scheduled_euthanasia_date!=None %} Scheduled Euthanasia
        Date: {{animal.scheduled_euthanasia_date}} <br />
        {% endif %} {% if animal.join_date!=None %} Join Date:
        {{animal.join_date}} <br />
        {% endif %} {% if animal.age!=None %} Age: {{animal.age}} <br />
        {% endif %} {% if animal.weight!=None %} Weight: {{animal.weight}}
        pounds <br />
        {% endif %} Gender: {{animal.gender}} <br />

        Adoption Code: {{animal.adopt_code}} {% if animal.url!=None %}
        <br />
        Url: <a href="{{animal.url}}">adoption link </a> <br />
        {% endif %}

        <img
          src="{{animal.tracker}}"
          alt="animal-tracker"
          style="visibility: hidden"
        />
        <br />
      </div>

      <!-- bio -->
      {% if animal.bio!=None %}
      <div
        class="tab-pane fade"
        id="bio"
        role="tabpanel"
        aria-labelledby="bio-tab"
      >
        <br />
        {{animal.bio|safe}} <br />
      </div>
      {% endif %}

      <!-- shelter info -->
      <div
        class="tab-pane fade"
        id="shelterinfo"
        role="tabpanel"
        aria-labelledby="shelterinfo-tab"
      >
        <br />
        Shelter Name: {{animal.shelter.name}} <br />

        Shelter City: {{animal.shelter.city}}<br />

        Shelter State: {{animal.shelter.state}}<br />

        Shelter Website:
        <a href="{{animal.shelter.website}}">{{animal.shelter.name}}</a> <br />
      </div>
    </div>
  </div>
</div>

{% endblock main %}
