<!DOCTYPE html>

<html>

    <head>
        <!-- <title>Paws for Alarm</title> -->
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

      
            

        
        
        
        <!-- icons for bootstrap -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- other CSS stylesheet -->

        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>

    <body> 

        <div class="container text-center">
          <!-- from Bootstrap navbar documentation  -->
            <div class="container nav">
            <nav class ="navbar navbar-expand-lg navbar-light" style="background-color: #61A3BA;">
                <div class= "navbar-nav">
                    <img src="/static/images/pawsphoto.JPG" width=10%>
                    <a class= "navbar-brand">Paws For Alarm</a>
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/animals">Available Animals </a>
                    <a class="nav-link" href="/faq">FAQ</a>
                </div>
            </nav>
        </div>
        <!-- <h1>Paws for Alarm</h1> -->
        {% block main %} {% endblock main%}
        <!-- Bootstrap JS script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <br> <footer>Connecting animals at risk of euthanasia to their future adopters. </footer> 
        </div>
    </body>


</html>