{% extends 'base.html' %}


{% block main %}
    <br>
    <h3>FAQ </h3> <br>

    <h6>Q: What is the goal of your site? </h6>
    <text> A: To consolidate adoption posts for animals that are at risk of euthanasia. <br>
        The hope is that spreading the word to potential adopters will improve chances for the animals.  <br>
        Additionally, the site boosts posts of animals that are in need of a foster home. <br>
    </text> <br><br>


    <h6>Q: How do you determine which animals are at risk? </h6>
    <text> A: A portion of the animals on the site have euthanasia dates, per data provided by RescueGroups.org's API.  <br>
        In the case of animals in need of foster, shelter groups that enter information into the API can flag animals as needing foster. </text> <br><br>

    <h6>Q: Why is an animal's listed euthanasia date in the past? </h6>
    <text> A: There are many potential answers for this. <br> An animal may be in foster care; if so, their date might not be updated in records. <br>
        Another explanation is that the animal is no longer available.  </text> <br><br>

    <h6>Q: What animals will be on this site? </h6>
    <text> A: At this time, the main animal results are of cats and dogs, <br> but other animal types have been supported as well. </text> <br> <br>

    <!-- update when api is formalized -->
    <h6>Q: How is the site updated?  </h6>
    <text> A: The information is compiled using manual requests from an API. <br>
        Ultimately, there may be more regular updates. </text> <br> <br>
    

    Return to homepage: <br> <a href="/"> Home </a> <br>

{% endblock main%}