{% extends 'base.html' %}


{% block main %}
    <br>
    <h3>FAQ </h3> <br>

    <h6>Q: What is the goal of your site? </h6>
    <text> A: To consolidate posts for animals that are at risk of euthanasia. <br>
        The hope is that spreading the word to potential adopters will improve adoption chances for the animals.  </text> <br><br>

    <h6>Q: How do you determine which animals are at risk? </h6>
    <text> A: The animals on the site have euthanasia dates, per data provided by RescueGroups.org's API.  </text> <br><br>

    <h6>Q: Why is an animal's listed euthanasia date in the past? </h6>
    <text> A: Either the animal is no longer available for adoption, or their euthanasia date has been changed.  </text> <br><br>

    <h6>Q: What animals will be on this site? </h6>
    <text> A: At this time, the main animals are cats and dogs. </text> <br> <br>

    <!-- update when api is formalized -->
    <h6>Q: How is the site updated?  </h6>
    <text> A: At this time, the information is pulled from manual API requests. <br>
        Ultimately, there may be more regular updates. </text> <br> <br>
    

    Return to homepage: <br> <a href="/"> Home </a> <br>

{% endblock main%}