{% extends 'base.html' %}


{% block main %}
    <br>
    <h3>FAQ </h3> <br>

    <h6>Q: What is the goal of your site? </h6>
    <text> A: To consolidate posts for animals that are at risk of euthanasia. <br>
        Spreading the word to potential adopters could improve chances of adoption.  </text> <br><br>

    <h6>Q: How to do you determine which animals are at risk? </h6>
    <text> A: The animals on the site have appeared on urgent or at-risk lists created by various shelters.  </text> <br><br>

    <h6>Q: Do all animals have scheduled euthanasia dates? </h6>
    <text> A: At the time of entry, not all animals have scheduled dates.  </text> <br><br>

    <h6>Q: What types of animals will be on this site? </h6>
    <text> A: While current shelter sources refer to dogs, the site will expand to other types of animals, like cats. </text> <br> <br>

    <h6>Q: How is the site updated?  </h6>
    <text> A: At this time, the information is updated manually by one person. <br>
        Ultimately, there may be automatic updates to the site. </text> <br> <br>
    

    Return to homepage: <br> <a href="/"> Home </a> <br>

{% endblock main%}