{% extends 'base.html' %} {% block heading %}
<meta property="og:title" content="Paws For Alarm" />

<meta property="og:url" content="https://www.pawsforalarm.org/" />

<meta
  property="og:image"
  content="http://www.pawsforalarm.org/static/images/pawsphoto.JPG"
/>

{% endblock heading %} {% block main %}

<br />

<div class="row homepage">
  <h2>Welcome to Paws For Alarm</h2>
  <br />
  <div class="col text-col">
    <img src="/static/images/pawsphoto.JPG" width="50%" alt="Cat paws" />
    <h4>Homepage photography: Katrina Connors</h4>
  </div>
</div>

{% endblock main %}
